<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>???</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'gift/css/konami_styles.css' %}" title="konami_styles.css" charset="utf-8">
    <script type="text/javascript" src="{% static 'gift/js/konami.js' %}" title="konami.js" charset="utf-8"></script>
  </head>
  <body>
    <div id='container'>
      <div id='capture' class='capture'>
        <h1 id='title'>Enter THE code:</h1>
        <h2 id='passcode'></h2>
      </div>
  </body>
</html>
