<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>???</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'gift/css/riddle_styles.css' %}" title="riddle_styles.css" charset="utf-8">
    <script type="text/javascript" src="{% static 'gift/js/riddle.js' %}" title="riddle.js" charset="utf-8"></script>

  </head>
  <body>
    <div id='container'>
      <div id='capture' class='capture'>
        <h1 id='title'>Who says 'OH OH OH!'?</h1>
        <h2 id='passcode'></h2>
      </div>
      <div id='hint'>Hint 1:</div>It's Christmas
      <div id='hint'>Hint 2:</div>It's Backwards
      <div id='hint'>Hint 3:</div>It's Backwards Santa
  </body>
</html>
